$app-background: #010432;
$secondary-background: #111542;
$light-blue-background: #212753;

$text-primary-color: #a1afd3;
$text-hover-color: #e7e7e7;
$text-secondary-color: #be1338;

$border-primary-color: #be1338;
$border-secondary-color: #a1afd3;

$accent-error-color: #be1338;

$button-primary-background: #be1338;
