@font-face {
  font-family: "Telegraf-Regular";
  src : url("../fonts/Telegraf-Regular.otf");
  font-weight: 400;
}

@font-face{
  font-family: "Telegraf-UltraBold";
  src : url("../fonts/Telegraf-UltraBold.otf");
}

@font-face{
  font-family: "Telegraf-Regular";
  src : url("../fonts/Telegraf-UltraBold.otf");
  font-weight: 900;
}
